<section>
  <div id="total">
    <ul>
      <li>
        <p>Total Fire Nation Members: <%= @members.count %></p>
      </li>
    </ul>
  </div>
</section>


<div id="members">
  <ul>
    <% @members.each do |member| %>
      <li>
        <p>Name: <%= member.name %></p>
        <p>Photo: <%= member.photo %></p>
        <p>Allies: <%= member.allies.present? ? member.allies : "None" %></p>
        <p>Enemies: <%= member.enemies.present? ? member.enemies : "None" %></p>
        <p>Affiliation: <%= member.affiliation %></p>
      </li>
      <% end %>
    </ul>
</div>